@using VendorAndOrderTracker.Models;

<h1>@Model.VendorName</h1>
<p>@Model.Description</p><br>

<h1>Orders</h1>
@if (Model.Orders.Count == 0)
{
  <p>There are no orders to list</p>
}
<ul>
  @foreach (Order order in Model.Orders)
  {
    <li><a href="/vendors/@Model.Id/orders/@order.Id">@order.Title</a></li>
  }

</ul>
<a href='/vendors/@Model.Id/orders/new'>New Order</a><br><br>

<a href="/vendors">Return to list</a><br>
<a href="/">Return to home screen</a>