@using VendorAndOrderTracker.Models;

<h1>@Model.VendorName</h1>
<p>@Model.Description</p><br>



<a href='/vendors/@Model.Id/orders/new'>New Order</a><br><br>
<a href="/vendors">Return to list</a><br>
<a href="/">Return to home screen</a>